<ACL>
  <acl name="Admin">
    <right name="command.cpanelhide" access="true" />
    <right name="general.cpanel" access="true" />		
    <right name="command.cpanelmute" access="true" />			
    <right name="command.cpanelslap" access="true" />				
    <right name="command.cpanelban" access="true" />				
    <right name="command.cpanelannounce" access="true" />
    <right name="command.cpanelbanserial" access="true" />
    <right name="command.cpanelunban" access="true" />
    <right name="command.cpanelunbanserial" access="true" />
    <right name="command.cpanelshout" access="true" />				
    <right name="command.cpanelgetreports" access="true" />				
    <right name="command.cpaneldelreport" access="true" />				
    <right name="command.cpanelgetsettings" access="true" />				
    <right name="command.cpanelsetsettings" access="true" />				
    <right name="command.cpanelkill" access="true" />				
    <right name="command.cpaneljetpack" access="true" />				
    <right name="command.cpanelspectate" access="true" />				
    <right name="command.cpanelrepairvehicle" access="true" />				
    <right name="command.cpanelgivevehicle" access="true" />				
    <right name="command.cpanelblowvehicle" access="true" />				
    <right name="command.cpaneldestroyvehicle" access="true" />				
    <right name="command.cpanelsetsky" access="true" />				
    <right name="command.cpanelresetsky" access="true" />				
    <right name="command.cpanelzap" access="true" />				
    <right name="command.cpanelburn" access="true" />				
    <right name="command.cpanelfreeze" access="true" />				
    <right name="command.cpaneleject" access="true" />				
    <right name="command.cpanelbomb" access="true" />				
    <right name="command.cpanelsetteam" access="true" />				
    <right name="command.cpanelcreateteam" access="true" />				
    <right name="command.cpanelwarp" access="true" />				
    <right name="command.cpanellistbans" access="true" />				
    <right name="command.cpanellistresources" access="true" />				
    <right name="command.cpanelstart" access="true" />					
    <right name="command.cpanelstop" access="true" />						
    <right name="command.cpanelrestart" access="true" />						
    <right name="command.cpanelgiveweapon" access="true" />						
    <right name="command.cpanelsetmoney" access="true" />				
    <right name="command.cpanelclearchat" access="true" />		
    <right name="command.cpaneljail" access="true" />			
	<right name="command.cpanelsetskin" access="true" />					
  </acl>
  <acl name="Sr.Admin">
    <right name="command.cpanelhide" access="true" />
    <right name="general.cpanel" access="true" />		
    <right name="command.cpanelmute" access="true" />			
    <right name="command.cpanelslap" access="true" />				
    <right name="command.cpanelban" access="true" />				
    <right name="command.cpanelannounce" access="true" />				
    <right name="command.cpanelbanserial" access="true" />				
    <right name="command.cpanelunban" access="true" />				
    <right name="command.cpanelunbanserial" access="true" />				
    <right name="command.cpanelshout" access="true" />				
    <right name="command.cpanelgetreports" access="true" />				
    <right name="command.cpaneldelreport" access="true" />				
    <right name="command.cpanelgetsettings" access="true" />				
    <right name="command.cpanelsetsettings" access="true" />				
    <right name="command.cpanelkill" access="true" />				
    <right name="command.cpaneljetpack" access="true" />				
    <right name="command.cpanelspectate" access="true" />				
    <right name="command.cpanelrepairvehicle" access="true" />				
    <right name="command.cpanelgivevehicle" access="true" />				
    <right name="command.cpanelblowvehicle" access="true" />				
    <right name="command.cpaneldestroyvehicle" access="true" />				
    <right name="command.cpanelsetsky" access="true" />				
    <right name="command.cpanelresetsky" access="true" />				
    <right name="command.cpanelzap" access="true" />				
    <right name="command.cpanelburn" access="true" />				
    <right name="command.cpanelfreeze" access="true" />				
    <right name="command.cpaneleject" access="true" />				
    <right name="command.cpanelbomb" access="true" />				
    <right name="command.cpanelsetteam" access="true" />				
    <right name="command.cpanelcreateteam" access="true" />				
    <right name="command.cpanelwarp" access="true" />				
    <right name="command.cpanellistbans" access="true" />				
    <right name="command.cpanellistresources" access="true" />				
    <right name="command.cpanelstart" access="true" />					
    <right name="command.cpanelstop" access="true" />						
    <right name="command.cpanelrestart" access="true" />						
    <right name="command.cpanelgiveweapon" access="true" />						
    <right name="command.cpanelsetmoney" access="true" />	
	<right name="command.cpanelclearchat" access="true" />	
	<right name="command.cpaneljail" access="true" />			
	<right name="command.cpanelsetskin" access="true" />					
  </acl>  
  <acl name="SuperModerator">
    <right name="command.cpanelhide" access="false" />
    <right name="general.cpanel" access="true" />		
    <right name="command.cpanelmute" access="true" />			
    <right name="command.cpanelslap" access="true" />				
    <right name="command.cpanelban" access="true" />				
    <right name="command.cpanelannounce" access="false" />				
    <right name="command.cpanelbanserial" access="false" />				
    <right name="command.cpanelunban" access="true" />				
    <right name="command.cpanelunbanserial" access="false" />				
    <right name="command.cpanelshout" access="true" />				
    <right name="command.cpanelgetreports" access="true" />				
    <right name="command.cpaneldelreport" access="true" />				
    <right name="command.cpanelgetsettings" access="false" />				
    <right name="command.cpanelsetsettings" access="false" />				
    <right name="command.cpanelkill" access="false" />				
    <right name="command.cpaneljetpack" access="true" />				
    <right name="command.cpanelspectate" access="true" />				
    <right name="command.cpanelrepairvehicle" access="true" />				
    <right name="command.cpanelgivevehicle" access="true" />				
    <right name="command.cpanelblowvehicle" access="true" />				
    <right name="command.cpaneldestroyvehicle" access="true" />				
    <right name="command.cpanelsetsky" access="false" />				
    <right name="command.cpanelresetsky" access="false" />				
    <right name="command.cpanelzap" access="false" />				
    <right name="command.cpanelburn" access="true" />				
    <right name="command.cpanelfreeze" access="true" />				
    <right name="command.cpaneleject" access="true" />				
    <right name="command.cpanelbomb" access="true" />				
    <right name="command.cpanelsetteam" access="false" />				
    <right name="command.cpanelcreateteam" access="false" />				
    <right name="command.cpanelwarp" access="true" />				
    <right name="command.cpanellistbans" access="true" />				
    <right name="command.cpanellistresources" access="false" />				
    <right name="command.cpanelstart" access="false" />					
    <right name="command.cpanelstop" access="false" />						
    <right name="command.cpanelrestart" access="false" />						
    <right name="command.cpanelgiveweapon" access="true" />						
    <right name="command.cpanelsetmoney" access="false" />				
    <right name="command.cpanelclearchat" access="true" />	
	<right name="command.cpaneljail" access="true" />			
	<right name="command.cpanelsetskin" access="true" />					
  </acl>
  <acl name="Moderator">
    <right name="command.cpanelhide" access="false" />
    <right name="general.cpanel" access="true" />		
    <right name="command.cpanelmute" access="true" />			
    <right name="command.cpanelslap" access="true" />				
    <right name="command.cpanelban" access="true" />				
    <right name="command.cpanelannounce" access="false" />				
    <right name="command.cpanelbanserial" access="false" />				
    <right name="command.cpanelunban" access="true" />				
    <right name="command.cpanelunbanserial" access="false" />				
    <right name="command.cpanelshout" access="false" />				
    <right name="command.cpanelgetreports" access="true" />				
    <right name="command.cpaneldelreport" access="false" />				
    <right name="command.cpanelgetsettings" access="false" />				
    <right name="command.cpanelsetsettings" access="false" />				
    <right name="command.cpanelkill" access="false" />				
    <right name="command.cpaneljetpack" access="false" />				
    <right name="command.cpanelspectate" access="true" />				
    <right name="command.cpanelrepairvehicle" access="true" />				
    <right name="command.cpanelgivevehicle" access="false" />				
    <right name="command.cpanelblowvehicle" access="false" />				
    <right name="command.cpaneldestroyvehicle" access="false" />				
    <right name="command.cpanelsetsky" access="false" />				
    <right name="command.cpanelresetsky" access="false" />				
    <right name="command.cpanelzap" access="false" />				
    <right name="command.cpanelburn" access="true" />				
    <right name="command.cpanelfreeze" access="true" />				
    <right name="command.cpaneleject" access="false" />				
    <right name="command.cpanelbomb" access="true" />				
    <right name="command.cpanelsetteam" access="false" />				
    <right name="command.cpanelcreateteam" access="false" />				
    <right name="command.cpanelwarp" access="false" />				
    <right name="command.cpanellistbans" access="false" />				
    <right name="command.cpanellistresources" access="false" />				
    <right name="command.cpanelstart" access="false" />					
    <right name="command.cpanelstop" access="false" />						
    <right name="command.cpanelrestart" access="false" />						
    <right name="command.cpanelgiveweapon" access="false" />						
    <right name="command.cpanelsetmoney" access="false" />				
    <right name="command.cpanelclearchat" access="false" />	
	<right name="command.cpaneljail" access="true" />			
	<right name="command.cpanelsetskin" access="true" />				
  </acl>  
  <acl name="Default">
    <right name="command.cpanelhide" access="false" />
    <right name="general.cpanel" access="false" />		
    <right name="command.cpanelmute" access="false" />			
    <right name="command.cpanelslap" access="false" />				
    <right name="command.cpanelban" access="false" />				
    <right name="command.cpanelannounce" access="false" />				
    <right name="command.cpanelbanserial" access="false" />				
    <right name="command.cpanelunban" access="false" />				
    <right name="command.cpanelunbanserial" access="false" />				
    <right name="command.cpanelshout" access="false" />				
    <right name="command.cpanelgetreports" access="false" />				
    <right name="command.cpaneldelreport" access="false" />				
    <right name="command.cpanelgetsettings" access="false" />				
    <right name="command.cpanelsetsettings" access="false" />				
    <right name="command.cpanelkill" access="false" />				
    <right name="command.cpaneljetpack" access="false" />				
    <right name="command.cpanelspectate" access="false" />				
    <right name="command.cpanelrepairvehicle" access="false" />				
    <right name="command.cpanelgivevehicle" access="false" />				
    <right name="command.cpanelblowvehicle" access="false" />				
    <right name="command.cpaneldestroyvehicle" access="false" />				
    <right name="command.cpanelsetsky" access="false" />				
    <right name="command.cpanelresetsky" access="false" />				
    <right name="command.cpanelzap" access="false" />				
    <right name="command.cpanelburn" access="false" />				
    <right name="command.cpanelfreeze" access="false" />				
    <right name="command.cpaneleject" access="false" />				
    <right name="command.cpanelbomb" access="false" />				
    <right name="command.cpanelsetteam" access="false" />				
    <right name="command.cpanelcreateteam" access="false" />				
    <right name="command.cpanelwarp" access="false" />				
    <right name="command.cpanellistbans" access="false" />				
    <right name="command.cpanellistresources" access="false" />				
    <right name="command.cpanelstart" access="false" />					
    <right name="command.cpanelstop" access="false" />						
    <right name="command.cpanelrestart" access="false" />						
    <right name="command.cpanelgiveweapon" access="false" />						
    <right name="command.cpanelsetmoney" access="false" />				
    <right name="command.cpanelclearchat" access="false" />	
	<right name="command.cpaneljail" access="false" />			
	<right name="command.cpanelsetskin" access="false" />	 
  </acl>
</ACL>